table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 10%;
    height: 30%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  
  table th,
  tfoot td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4caf50;
    color: white;
  }

